{% extends "base.html" %}

{% block content %}
    <h1>Add Battle</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.season.label }}<br>
            {{ form.season() }}
            {% for error in form.season.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.league.label }}<br>
            {{ form.league(size=32) }}
            {% for error in form.league.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.elo.label }}<br>
            {{ form.elo() }}
            {% for error in form.elo.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.battle_date.label }}<br>
            {{ form.battle_date() }}
            {% for error in form.battle_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.battle_time.label }}<br>
            {{ form.battle_time() }}
            {% for error in form.battle_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.my_pokemon_1.label }}<br>
            {{ form.my_pokemon_1(size=32) }}
            {% for error in form.my_pokemon_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.my_pokemon_2.label }}<br>
            {{ form.my_pokemon_2(size=32) }}
            {% for error in form.my_pokemon_2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.my_pokemon_3.label }}<br>
            {{ form.my_pokemon_3(size=32) }}
            {% for error in form.my_pokemon_3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.opponent_name.label }}<br>
            {{ form.opponent_name(size=32) }}
            {% for error in form.opponent_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.opponent_pokemon_1.label }}<br>
            {{ form.opponent_pokemon_1(size=32) }}
            {% for error in form.opponent_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.opponent_pokemon_2.label }}<br>
            {{ form.opponent_pokemon_2(size=32) }}
            {% for error in form.opponent_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.opponent_pokemon_3.label }}<br>
            {{ form.opponent_pokemon_3(size=32) }}
            {% for error in form.opponent_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.is_won() }} {{ form.is_won.label }}</p>
        <p>{{ form.if_lost_was_badly_played() }} {{ form.if_lost_was_badly_played.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}